.quiz {
    .header {
        p {
            font-size: 15px;
            color: #575757;
        }
    }
    .options {
        .btn {
            text-align: left;
            background-color: hsl(0, 0%, 97%);
            color: hsl(0, 0%, 33%);
            margin-bottom: 10px;
            box-shadow: inset 0px 0px 4px 0px hsl(0, 0%, 95%);

            &:hover {
                background-color: hsl(0, 0%, 93%);
            }
        }
    }
    .meta-options {
        display: flex;

        p {
            flex: 1;

            a {
                float: right;
                cursor: pointer;
            }
        }
    }
}
